@(title: String, data: GeoData)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        
        <script type="text/javascript">
            function get_random_color() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.round(Math.random() * 15)];
                }
                return color;
            }

            function getLocations(map, lat, lng) {
                $.getJSON('http://api.chaintale.com/location/' + lat + ',' + lng + '/25',
                    function(data) {
                        markLocations(map, data);
                    }
                );
            }

            function markLocations(map, data){
                $.each(data, function(k, v) {
                    var markers = google.maps.Map.prototype.markers;
                    var coordinates = [
                        new google.maps.LatLng(v.fromLat, v.fromLng),
                        new google.maps.LatLng(v.toLat, v.toLng),
                    ];
                    var path = new google.maps.Polyline({
                        path: coordinates,
                        strokeColor: get_random_color(),
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    markers.push(path);
                    path.setMap(map);

                    var from = new google.maps.Marker({
                        position: new google.maps.LatLng(v.fromLat, v.fromLng),
                        map: map,
                        title: v.sign + ": " + v.mainStreet + " & " + v.fromStreet
                    });
                    markers.push(from);
                    from.setMap(map);

                    var to = new google.maps.Marker({
                        position: new google.maps.LatLng(v.toLat, v.toLng),
                        map: map,
                        title: v.sign + ": " + v.mainStreet + " & " + v.toStreet
                    });
                    markers.push(to);
                    to.setMap(map);
                });
            }

            function clearLocations(markers){
                var markers = google.maps.Map.prototype.markers;
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
            }


            $( document ).ready( function() {
                google.maps.Map.prototype.markers = new Array();

                var metadown;
                $(window).keydown(function(evtobj) {
                    if (evtobj.metaKey) {
                        metadown = true;
                    }
                })
                $(window).keyup(function(evtobj) {
                    metadown = false;
                })

                var myLatlng = new google.maps.LatLng(@data.latitude,@data.longitude);
				var mapOptions = {
			  		zoom: 16,
			  		center: myLatlng,
			  		mapTypeId: google.maps.MapTypeId.ROADMAP,
				}
				var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                google.maps.event.addListener(map, 'dragend', function() {
                    getLocations(map, map.getCenter().lat(), map.getCenter().lng());
                });

                google.maps.event.addListener(map, 'click', function() {
                    if (metadown) {
                        clearLocations();
                    }
                });

                getLocations(map, @data.latitude, @data.longitude);
			});
         </script>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
  			html { height: 100% }
  			body { height: 100%; margin: 0; padding: 0 }
  			#map_canvas { height: 100% }
		</style>

	    <script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?key=@data.apiKey&sensor=false">
	    </script>
    </head>
    <body>
        @content
    </body>
</html>
